@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-green: #1e5128;
  --light-green: #4e9f3d;
  --card-background: #ffffff;
  --text-color: #333333;
  --placeholder-color: #a9a9a9;
  --page-background: #f4f6f8; /* Cinza bem claro */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* A CORREÇÃO ESTÁ AQUI: O FUNDO GERAL DO SITE DEVE SER O CINZA CLARO */
  background-color: var(--page-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
